body {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.input {
  background-color: rgba(217, 217, 217, 1);
  height: 24px;
  width: 100%;
}

.boton{
  background-color: rgb(112, 22, 93);   
  height: 21px;
  border-radius: 16px;
  font-size: large;
}

#barra{
  margin-top: 5%;
  width: 100%;
  background-color: black;
  height: 2px;
}

#listaTicket{
  display: flex;
  flex-direction: column;
  margin-left: -30px;
}

li{
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
}

#total{
  padding: 10px 40px;
  text-align: left;
  font-weight: bold;
  font-size: larger;
}





